# Miscellaneous
*.class
*.log
*.pyc
*.pyo
*.swp
.DS_Store
.env
.env.docker
.env.local
.env.*.local
!.env.example
!backend/.env.example
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.ruff_cache/
.venv/
node_modules/
**/__pycache__/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
